<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Flask App </title>
        <link rel = "stylesheet" type= "text/css" href = " {{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
    <!-- This code connects WebsocketsIO to the index.html file, so it can update the
     display in real-time. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Waits to receive 'update_data' from socket's emit function in app.py
        // Once it receives it, it runs the function.
        // The parseFloat and toFixed(2) ensure that the data read is a float up to 2 decimal places.
        socket.on('update_data', function(data) {

            let speed = parseFloat(data.array_data[0]).toFixed(2);
            let battery = parseFloat(data.array_data[1]).toFixed(2);
            let temperature = parseFloat(data.array_data[2]).toFixed(2);

            console.log("Received data", data);
            document.querySelector('.speed-box').innerText = speed;
            document.querySelector('.battery-box').innerText = battery;
            document.querySelector('.temperature-box').innerText = temperature;

            // Updates the battery level display on the website.
            let batteryLevel = data.array_data[1];  
            let batteryElement = document.getElementById('batteryLevel');

            batteryElement.style.width = batteryLevel + '%';
            if (batteryLevel <= 20) {
                batteryElement.style.backgroundColor = 'red'; // Below 20% → red
            } else if (batteryLevel <= 50) {
                batteryElement.style.backgroundColor = 'yellow'; // Below 50% → yellow
            } else {
                batteryElement.style.backgroundColor = '#4caf50'; // 50% and above → green
            }

            // Updates the temperature display on the website.
            let temperatureValue = data.array_data[2];
            let tempElement = document.getElementById('temperature');
            let iconElement = document.getElementById('temp-icon');

            if (temperatureValue >= 40) {
                iconElement.src = "https://static.vecteezy.com/system/resources/thumbnails/021/888/786/small_2x/hot-sale-price-labels-template-designs-with-flame-png.png"; // Path to the fire icon
                tempElement.style.color = 'rgb(208, 13, 13)'; // Below 20% → red
            } else if (temperatureValue <= 10) {
                iconElement.src = "https://i.fbcd.co/products/resized/resized-750-500/895de29879013ce55cb0ccb7983e2faed5ffdb8840ae1bc364c5280f059a7554.jpg"; // Path to the snowflake icon
                tempElement.style.color = '#3172AE';
            } else {
                iconElement.src = "https://t3.ftcdn.net/jpg/09/14/62/62/360_F_914626243_k7LHxUYiDY5cq5BkymnOnxqlYNm4FyJi.jpg"; // Path to a neutral icon, e.g., a leaf or sun
                tempElement.style.color = 'black';
            }
        });
        </script>

        <div class = "title">
            <img src="https://sites.tufts.edu/racing/files/2020/04/cropped-newlogo-2.png"
            width="450" length="1000"/>
        </div>

        <div class = "container1">
            <label><div class = "label_text">
                <strong>Temperature: </strong>
            </div></label>
            <div class = "temperature-box" id="temperature"> {{ array_data[2] }} </div>
            <img class = "temperature-icon" id="temp-icon" src="https://t3.ftcdn.net/jpg/09/14/62/62/360_F_914626243_k7LHxUYiDY5cq5BkymnOnxqlYNm4FyJi.jpg" 
            alt="Temperature icon" width = "112.5" height = "75">
        </div>

        <div class = "container3">
            <label><div class="label_text">
                <strong>Battery: </strong>
                <div class = "battery-box">{{ array_data[1] }} </div>
            </div></label>
            <div class="battery">
                <div class="battery-level" id="batteryLevel"></div>
            </div>
        </div>

        <div class="container2">
            <label><div class="label_speed"><br>SPEED:</div></label>
            <div class = "speed-box">{{ array_data[0] }} </div>
        </div>
    </body>
</html>