<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Style File for Flask App </title>
        <link rel = "stylesheet" type= "text/css" href = " {{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
        <div class = "title"> Electric Racing </div>
        <div class = "container">
            <div class = "data-box1"> {{ array_data }} </div>
        </div>
        <div class = "container">
            <div class = "data-box2"> {{ array_data }} </div>
        </div>
        <div class = "container">
            <div class = "data-box2"> {{ array_data }} </div>
        </div>
        <div class = "container">
            <div class = "data-box2"> {{ array_data }} </div>
        </div>
    </body>
</html>